/* Disable Edge/Browser Visual Search and Hover Menus */
img, div, span {
    -ms-visual-search: hidden !important;
}

[data-visual-search="false"] {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* More technical suppression for Edge */
body {
    -webkit-tap-highlight-color: transparent;
}